{% extends "base.html" %}

{% block content %}


<h2>School Core</h2>


<ul class="list-group">
    <li class="list-group-item">Mohamed Amine Mouamen</li>
    <li class="list-group-item">Mohamed Amine Mouamen</li>
    <li class="list-group-item">Mohamed Amine Mouamen</li>
    <li class="list-group-item">Mohamed Amine Mouamen</li>
    <li class="list-group-item">Mohamed Amine Mouamen</li>
    <li class="list-group-item">Mohamed Amine Mouamen</li>
    <li class="list-group-item">Mohamed Amine Mouamen</li>
    <li class="list-group-item">Mohamed Amine Mouamen</li>
    <li class="list-group-item">Mohamed Amine Mouamen</li>
    <li class="list-group-item">Mohamed Amine Mouamen</li>
    <li class="list-group-item">Mohamed Amine Mouamen</li>
</ul>

{% endblock  %}

